@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-background scroll-smooth;
    overflow-y: scroll;
    /*noinspection CssUnknownProperty*/
    scrollbar-color: #119f6f #222433;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track-piece {
    background-color: #222433;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #222433;
}

::-webkit-scrollbar-thumb {
    background: #119f6f;
}

::-webkit-scrollbar-corner {
    @apply py-2;
    background: #222433;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    @apply max-w-screen-xl mx-auto;
}

.diagonal-shadow {
    filter: drop-shadow(25px 50px -12px rgba(0 0 0 / 0.25));
}

@layer utilities {
    .landing-diagonal-md {
        clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
    }
    .landing-diagonal {
        clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    }
}

.section2-diagonal {
    clip-path: polygon(0 0, 0 25%, 100% 0);
}

a {
    @apply no-underline text-inherit;
}

.header-size {
    min-height: calc(100vh - 5rem);
}

.footer-size {
    min-height: calc(100vh - 3rem);
}

@layer components {
    .footer-size-md {
        min-height: calc(100vh - 2.5rem);
    }
}

.emoji {
    @apply mx-1 h-6 w-6;
}

.push-out {
    min-width: calc(100vw + 20rem);
}

.counted {
    @apply block;
    line-height: 1.5rem;
    counter-increment: line;
}

.w-md-editor-bar {
    @apply hidden;
}
