@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #222433;
  --color-brighter: #1d1e2c;
  --color-section: #c74d5f;
  --color-section-dark: #963747;
  --color-sectionDarkest: #85333f;
  --color-content: #2eb086;
  --color-text: #eee6ce;
}

@layer components {
  .typography {
    h1 {
      margin-bottom: 0.5rem;
    }
    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    h3 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    img {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }
  }
}

@utility landing-diagonal-md {
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
}

@utility landing-diagonal {
  clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
}

@utility footer-size-md {
  min-height: calc(100vh - 2.5rem);
}

@layer utilities {
  html {
    @apply bg-background scroll-smooth;
    overflow-y: scroll;
    /*noinspection CssUnknownProperty*/
    scrollbar-color: #119f6f #222433;
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar-track-piece {
    background-color: #222433;
  }

  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #222433;
  }

  ::-webkit-scrollbar-thumb {
    background: #119f6f;
  }

  ::-webkit-scrollbar-corner {
    @apply py-2;
    background: #222433;
  }

  .container {
    @apply max-w-(--breakpoint-xl) mx-auto;
  }

  .diagonal-shadow {
    filter: drop-shadow(25px 50px -12px rgba(0 0 0 / 0.25));
  }
}

@layer utilities {
  .section2-diagonal {
    clip-path: polygon(0 0, 0 25%, 100% 0);
  }

  a {
    @apply no-underline text-inherit;
  }

  .header-size {
    min-height: calc(100vh - 5rem);
  }

  .footer-size {
    min-height: calc(100vh - 3rem);
  }

  .emoji {
    @apply mx-1 h-6 w-6;
  }

  .push-out {
    min-width: calc(100vw + 20rem);
  }

  .counted {
    @apply block;
    line-height: 1.5rem;
    counter-increment: line;
  }
}
