@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-screen-xl mx-auto;
}

.landing-diagonal-shadow {
    filter: drop-shadow(25px 50px -12px rgba(0 0 0 / 0.25));
}

.landing-diagonal {
    background-color: #c74d5f;
    clip-path: polygon(100% 52%, 0% 100%, 100% 100%);
    @apply shadow-2xl;
}

html {
    @apply scroll-smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    @apply no-underline text-inherit;
}

.header-size {
    min-height: calc(100vh - 5rem);
}

.push-out {
    min-width: calc(100vw + 20rem);
}
